
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------
        HEADER
----------------------------------*/
header{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: relative;
}
.barra{

    max-width: 70%;
    padding: 10px;
    padding-right: 40px;

}
ul {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-center;

}

.menu {

    font-family: 'Josefin Slab', serif;
    letter-spacing: 5px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;

}

.button {

    background-color:#90A437;
    border-radius: 15px;
    border: 0;
    font-size: 1em;
    color: #2e2e31;
    
}

/*--------------------------------
        SECCIÓN HOLA
----------------------------------*/

.seccion-hola { 

    background-color:#130817;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto; 

}
.contenedor-hola {

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top:150px;
    margin-bottom: 150px;
    width: 100%;
    max-width: 1100px;

}

.contenido-hola {
    display: inline-block;
    justify-content: left;
    margin-top: 70px;
    width: 100%;
           
}

.hola{

    color: aliceblue;
    font-family: "Montserrat", serif;
    margin-button:10px;

}

.nombre{

    color:#D788C8;
    font-family: 'Ubuntu', sans-serif;

}
.descripcion{
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
    margin-top:10px;
}

.lo-que-hago{
   max-width: 200px;
   margin:0px;
}


.center {
    align-items: center;
}
.cita {
    text-align: center;
    max-width: 500px;
}
img {
    display: block;
    width: 100%;
}
.button2{
    font-family: 'Josefin Slab', serif;
    letter-spacing: 3px;
    background-color: #90A437;
    border-radius: 15px;
    padding: 10px;
}


/*--------------------------------
        SECCIÓN CONOCIMIENTOS
----------------------------------*/

.seccion-misConocimientos {
    background-color: red;
    height: auto;
}


/*--------------------------------
        SECCIÓN CITA
----------------------------------*/
.seccion-3 {
    background-color: blue;
    height: 400px;
}

.grande{
    font-size: 1.2rem;
    max-width: 800px;
    padding: 150;
}


.bloque{
    text-align: center; 
    background-color: crimson;
}

.tarjeta  {
    background-color: azure;   
    border: 2px solid gray;
    width: 200px;
    height: 200px;
    padding: 10px; /* Almohadita alrrededor*/
    margin: 10px; 

    text-align: center;
    box-sizing: border-box; /*La tarjeta no modifica
     su tamaño - incluye adentro el borde y el padding
     -No se lo adiciona a su tamaño*/
    display: inline-block; /* Comportate 
    como un elemento en linea */
    
}
/*Las imagenes tienen su propio tamaño
y su relacion de aspecto*/
.imagen {
    width: 130px;
    height: 130px;

}

/*--------------------------------
        SECCIÓN PROYECTOS
----------------------------------*/
.seccion-misproyectos {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}
.filtros{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.ir-a{
    line-height: 2.5;
    margin: 0.5em 0;
    padding: 0 30px;
}

/*--------------------------------
        FOOTER
----------------------------------*/








h1{
    font-family: 'Suez One', serif;
    font-size: 60px;
    font-weight: 900;
    
}

h3{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

h5{
    font-family: 'Josefin Slab', serif;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 40px;

}

.beige{
    background-color:#D4BE7D;
}