
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

/*--------------------------------
      🍓 SETTINGS GENERALES 🍓
----------------------------------*/

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

a:link {
    color: #130817;
  }
  
a:visited {    /*no me gusta que quede azul vistado */
    color: #130817;
  }

a:hover {
   color:#fb8806;
  }

.img{
    width: 100%;
    height: auto;
}
/*--------------------------------
       🍓 HEADER  🍓
----------------------------------*/
header{

    display: flex;
    background-color: #F5F3F5;
    justify-content: flex-end;
    
}
a {
    text-decoration: none;
}

.barra{
    display: flex;
    margin: 25px; 


/* Queria la barra mas finita */

}
ul {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style-type: none;


}

.button {

    font-family: "Montserrat", serif;
    margin-right: 40px;

}

.recuadro {

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    text-align: center;
    border: 2px solid black;

    
}

/*--------------------------------
     🍓   SECCIÓN HOLA  🍓
----------------------------------*/

.seccion-hola { 

    background-color:#130817;
    background: linear-gradient(180deg,#130817, #3f091c);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto; 

}
.contenedor-hola {

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top:150px;
    margin-bottom: 150px;
    width: 100%;
    max-width: 1100px;

}

.contenido-hola {
    display: inline-block;
    justify-content: left;
    margin-top: 70px;
    width: 100%;
           
}

.hola{

    color: aliceblue;
    font-family: "Montserrat", serif;
    margin-button:10px;

}

.nombre{

    color:#E580A4;
    font-family: 'Mansalva', cursive;
    font-size: 80px;

}
.descripcion{
    color: #827E7A;
    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
    margin-top:10px;
}

.github{
    max-width: 200px;
    margin:0px;
    text-align: center;
 }
 

.center {
    align-items: center;
}
.cita {
    text-align: center;
    max-width: 500px;
}
img {
    display: block;
    width: 100%;
}
.button2{
    font-family: 'Josefin Slab', serif;
    letter-spacing: 3px;
    background-color: #90A437;
    border-radius: 15px;
    padding: 10px;
}


/*--------------------------------
   🍓   SECCIÓN CONOCIMIENTOS  🍓
----------------------------------*/

.seccion-misconocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F3F5;
    height: auto;
}
.contenedor-conocimientos{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

}


.titulo-mediano{
    text-align: center;
    color:#130817;
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.contenedor-frase{
    display: flex;
    justify-content: center;
    width: 550px;
   
}
.frase{
    text-align: center;
    color: #404518;
    font-family: "Montserrat", serif;
    padding-bottom: 60px;
}
.linea{
    text-align: center; 
}
.tarjeta  {
    background-color: #130817;   
    width: 250px;
    height: 250px;
    padding: 30px;
    margin:15px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.skill{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color:#F5F3F5;
}
.imagen {
    display: flex;
    align-items: center;
    
}

/*--------------------------------
    🍓    SECCIÓN CITA   🍓
----------------------------------*/

.seccion-cita {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #26474E;
    height: 400px;
}

.fa-quote-right{
    width: 250px;
    height: 250px;
}









/*--------------------------------
     🍓  SECCIÓN PROYECTOS  🍓
----------------------------------*/
.seccion-misproyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.filtros{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.imagenes-proyectos{
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    max-width: 1300px;

}
.proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #dac9e0;   
    width: 350px;
    height: 350px;
    padding: 30px;
    margin:40px;
    margin-top: 10px;
    border-radius: 15px;
}

.imagen{
    width: 200px;
    height: auto;
}

/*--------------------------------
     🍓    FOOTER    🍓
----------------------------------*/
footer{
    background-color: #3f091c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px;
}

.iconos-contacto{
    Display:flex;
    justify-content: center;

}



/*--------------------------------
      🍓  DISEÑO RESPONSIVE  🍓
----------------------------------*/



/*--------------------------------
     🍓     TABLET       🍓
----------------------------------*/



/*--------------------------------
     🍓   SMARTPHONE    🍓
----------------------------------*/